[Unit]
Description=Britebadge startup script
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/BriteBadge/main.py
WorkingDirectory=/home/pi/BriteBadge
User=root

[Install]
WantedBy=multi-user.target