{% extends "layout.html" %}

{% block content %}
<h1>Britebadge</h1>
<h3>{{ event_name }}</h3>

<table>
    <tr bgcolor="#d3d3d3">
        <th>First Name</th>
        <th>Surname</th>
        <th>Badges Printed</th>
        <th>Print</th>
    </tr>
    
    {% for attendee in attendees %}
        {% if attendee.badges_printed %}
            <tr bgcolor="#c4fc9f">
        {% else %}
            <tr>
        {% endif %}
            <td>{{ attendee.first_name }}</td>
            <td>{{ attendee.surname }}</td>
            <td id="badges-printed-{{ attendee.attendee_id }}">{{ attendee.badges_printed | count }}</td>
            <td><button id="print_buton" data-id="{{attendee.attendee_id}}" class="btn btn-info"
                        onclick="printBadge({{attendee.attendee_id}})" value="val_1" name="but1">Print Badge
                </button></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}